
#content{
    background-color: black;
}
footer {
        position: absolute;
        bottom: 1px; /* Ajusta según la distancia que desees del borde inferior */
        left: 0;
        right: 0;
        height: 80px; /* Ajusta según la altura de tu Footer */
        background-color: #343a40; /* Color de fondo del Footer */
        color: #ffffff; /* Color del texto */
        padding: 20px; /* Añade espacio interno al contenido del Footer */
        text-align: center; /* Centra el contenido del Footer */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Añade una sombra al Footer */
        font-size: 20px;
        z-index: 2;
    }    

    /* */
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #contenedor-imagen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 56px; /* Ajusta según la altura de tu Navbar y Footer */
        overflow: hidden;
        z-index: 1; /* Asegura que el contenedor esté por encima del contenido */
    }

    #contenedor-imagen::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 56px; /* Ajusta según la altura de tu Navbar y Footer */
        background: rgba(10, 10, 10, 0.712); /* Fondo negro semitransparente */
        z-index: 1; /* Asegura que la capa esté por encima del contenido */
    }

    #imagen {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: 2; /* Asegura que la imagen esté por encima de la capa negra */
        
    }
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; /* Color del texto */
        font-size: 25px;
        text-align: center;
        z-index: 3;
        }
