{% extends 'jefeVentas/base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Formulario de Creación de Productos</h2>

    <form method="post" class="col-md-7 mx-auto" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-success" type="submit">Añadir Producto</button>
            <a href="{% url 'pagina_inventario' %}" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>

{% endblock %}
