{% extends 'vendedor/base.html' %}

{% block content %}

<div class="container-fluid custom-container" id="principal">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-8 col-12">
                <!-- Este div está a la izquierda -->
                <div class="box h-380 w-100 p-3 d-flex flex-column" id="azul">
                    <div class="row mb-3">
                        <!-- Primer recuadro -->
                        <div class="col-md-6">
                            <a href="{% url 'ventas1' %}" class="card-link">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <!-- Contenido del primer recuadro -->
                                        <!-- Puedes personalizar el contenido aquí -->
                                        <h6>Vender!</h6>
                                        <div style="font-size:80px;">
                                            <i class="bi bi-cart4"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <!-- Segundo recuadro -->
                        <div class="col-md-6">
                            <a href="{% url 'profile' %}" class="card-link">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <!-- Contenido del primer recuadro -->
                                        <!-- Puedes personalizar el contenido aquí -->
                                        <h6>Mis datos personales</h6>
                                        <div style="font-size:80px;">
                                            <i class="bi bi-person-add"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                
                    <div class="row">
                        <!-- Tercer recuadro -->
                        <div class="col-md-6">
                            <a href="{% url 'ventas1' %}" class="card-link">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <!-- Contenido del primer recuadro -->
                                        <!-- Puedes personalizar el contenido aquí -->
                                        <h6>Mis Cursos</h6>
                                        <div style="font-size:80px;">
                                            <i class="bi bi-book"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                
                        <!-- Cuarto recuadro -->
                        <div class="col-md-6">
                            <a href="{% url 'ventas1' %}" class="card-link">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <!-- Contenido del primer recuadro -->
                                        <!-- Puedes personalizar el contenido aquí -->
                                        <h6>Mis Contratos y Anexos.</h6>
                                        <div style="font-size:80px;">
                                            <i class="bi bi-cart4"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Este div está debajo del primero en la izquierda -->
                <div class="box mt-5 h-180" id="rojo">
                    <!-- Contenido del cuadro debajo del primero en la izquierda -->
                    <h6>Bienvenido al Sistema de Ventas de Los Monitos de La Nona</h6>
                    <ul>
                        <li>Novedades</li>
                        <li>Contacto administración: 555-555-555</li>
                        <li>Nuestros productos</li>
                        <li>Nuestra Familia Nona</li>
                        <li>Outlook</li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-4 col-12">
                <!-- Este div está a la derecha -->
                <div class="box h-100 w-40" id="verde">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}