{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>JefeVentas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="#">Sistema de Ventas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pagina_principal' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#informe-ventas">Informe de Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#informe-tributario">Informe Tributario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pagina_inventario' %}">Inventario</a>
                </li>
                {% if caja_abierta %}
                {% for caja in cajas %}
                    {% if caja.estado.nombre == 'Abierto' %}
                        <li class="nav-item">
                            <a class="btn btn-outline-danger" href="{% url 'cerrar_caja' caja.pk %}">Cerrar Caja</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <!-- Mostrar el botón para abrir la caja si no hay ninguna abierta -->
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{% url 'crear_caja' %}">Abrir Caja</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mb-5">
        <!--Contenido dinamico-->
        {% block content %}
        {% endblock %}
    </div>
    <footer style="background-color: #f0f0f0; padding: 20px; text-align: center;">
        <p>&copy; 2023 Monitos de la Nona - Todos los derechos reservados</p>
        <!-- Agrega enlaces o información adicional sobre tu página web -->
    </footer>
</body>
</html>