{% extends 'jefeVentas/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        </div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1 class="h2">Reportes periódicos (Día específico)</h1>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Emisor</th>
                            <th>Rut Emisor</th>
                            <th>Razon social del cliente</th>
                            <th>direccion</th>
                            <th>Giro</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Número de Transacción</th>
                            <th>sku</th>
                            <th>Nombre del producto</th>
                            <th>Cant.</th>
                            <th>Precio Unit.</th>
                            <th>Sub total</th>
                            <th>Impuesto(19%)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}