{% extends 'jefeVentas/base.html' %}

{% block content %}
<!-- ... Aquí va el resto de tu contenido ... -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Tipo de Documento</th>
                <th>productos</th>

            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.vendedor }}</td>
                <td>{{ venta.cliente }}</td>
                <td>{{ venta.precio_total }}</td>
                <td>
                    {% if venta.documento_tributario %}
                        {{ venta.documento_tributario.tipo }}
                    {% else %}
                        Sin documento tributario
                    {% endif %}
                </td>
                <td>
                    {% for detalle in venta.detallecompra_set.all %}
                        {{ detalle.producto.nombre }} (Cantidad: {{ detalle.cantidad }})
                        <!-- Puedes agregar más detalles del producto aquí -->
                    {% endfor %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay ventas para mostrar.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}