{% extends 'vendedor/base.html' %}
{% block content %}

<div class="container">
    <h3 class="mb-4">Seleccionar productos para la venta</h3>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Seleccionar</button>
        <a href="{% url 'ventas3' %}" class="btn btn-success">Finalizar</a>
    </form>
    <div class="container">
        <hr>
        {% include 'ventas/detallecompra.html' %}
    </div>
</div>

{% endblock %}