{% extends 'registration/base.html' %}

{% block content %}
<main class="d-flex align-items-center bg-dark text-center">
    <div class="container mx-auto text-center " style="color: white">
        {% load static %}
        <img src="{% static 'img/mant.jfif' %}" alt="">
        <h2>¡Ups! Parece que te has perdido...</h2>
        <p>La página que estás buscando no existe o ha sido movida. ¡Vamos a llevarte de vuelta al inicio! 
            <a href="{% url 'login' %}">Inicio</a></p>
        <p>Hemos informado a tu instructor para que revise este enlace tan pronto como sea posible.</p>
    </div>
</main>
{% endblock %}