{% extends 'registration/base.html' %}

{% block content %}

<div class="container mt-5 pt-5">
    <div class="col-md-6 mx-auto">
        <h2 class="text-center">Bienvenido</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            {% if form.non_field_errors %}
                <p class="text-danger">Usuario y/o contraseñas incorrectos, intente nuevamente</p>
            {% endif %}
            <input type="submit" class="btn btn-success mt-2" value="Login">
        </form>
    </div>
</div>

{% endblock %}
